:root {
    --basicwhite: rgba(255, 255, 255, 1);
    --basicblack: rgba(0, 0, 0, 1);
    --basickakao-login: rgba(254, 229, 0, 1);
    --gray-scalegray-100: rgba(249, 249, 249, 1);
    --gray-scalegray-200: rgba(222, 222, 222, 1);
    --gray-scalegray-300: rgba(240, 240, 240, 1);
    --gray-scalegray-400: rgba(168, 168, 168, 1);
    --gray-scalegray-500: rgba(157, 157, 157, 1);
    --gray-scalegray-600: rgba(85, 85, 85, 1);
    --gray-scalegray-700: rgba(86, 86, 86, 1);
    --gray-scalegray-800: rgba(31, 31, 31, 1);
    --primaryprimarylight: rgba(223, 87, 87, 1);
    --primaryprimarydark: rgba(225, 67, 67, 1);
    --ios-ios-h1-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-h1-font-weight: 700;
    --ios-ios-h1-font-size: 20px;
    --ios-ios-h1-letter-spacing: 0px;
    --ios-ios-h1-line-height: 26px;
    --ios-ios-h1-font-style: normal;
    --ios-ios-h2-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-h2-font-weight: 700;
    --ios-ios-h2-font-size: 18px;
    --ios-ios-h2-letter-spacing: 0px;
    --ios-ios-h2-line-height: 24px;
    --ios-ios-h2-font-style: normal;
    --ios-ios-subtitle1-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-subtitle1-font-weight: 700;
    --ios-ios-subtitle1-font-size: 16px;
    --ios-ios-subtitle1-letter-spacing: 0px;
    --ios-ios-subtitle1-line-height: 24px;
    --ios-ios-subtitle1-font-style: normal;
    --ios-ios-subtitle2-font-family: "AppleSD Gothic Neo-SemiBold", Helvetica;
    --ios-ios-subtitle2-font-weight: 600;
    --ios-ios-subtitle2-font-size: 16px;
    --ios-ios-subtitle2-letter-spacing: 0px;
    --ios-ios-subtitle2-line-height: 24px;
    --ios-ios-subtitle2-font-style: normal;
    --ios-ios-body1-font-family: "AppleSD Gothic Neo-Medium", Helvetica;
    --ios-ios-body1-font-weight: 500;
    --ios-ios-body1-font-size: 16px;
    --ios-ios-body1-letter-spacing: 0px;
    --ios-ios-body1-line-height: 24px;
    --ios-ios-body1-font-style: normal;
    --ios-ios-body2-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-body2-font-weight: 700;
    --ios-ios-body2-font-size: 14px;
    --ios-ios-body2-letter-spacing: 0px;
    --ios-ios-body2-line-height: 20px;
    --ios-ios-body2-font-style: normal;
    --ios-ios-body3-font-family: "AppleSD Gothic Neo-Regular", Helvetica;
    --ios-ios-body3-font-weight: 400;
    --ios-ios-body3-font-size: 14px;
    --ios-ios-body3-letter-spacing: 0px;
    --ios-ios-body3-line-height: 20px;
    --ios-ios-body3-font-style: normal;
    --ios-ios-caption1-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-caption1-font-weight: 700;
    --ios-ios-caption1-font-size: 12px;
    --ios-ios-caption1-letter-spacing: 0px;
    --ios-ios-caption1-line-height: 18px;
    --ios-ios-caption1-font-style: normal;
    --ios-ios-caption2-font-family: "AppleSD Gothic Neo-Medium", Helvetica;
    --ios-ios-caption2-font-weight: 500;
    --ios-ios-caption2-font-size: 12px;
    --ios-ios-caption2-letter-spacing: 0px;
    --ios-ios-caption2-line-height: 18px;
    --ios-ios-caption2-font-style: normal;
    --ios-ios-caption3-font-family: "AppleSD Gothic Neo-Medium", Helvetica;
    --ios-ios-caption3-font-weight: 500;
    --ios-ios-caption3-font-size: 10px;
    --ios-ios-caption3-letter-spacing: 0px;
    --ios-ios-caption3-line-height: 12px;
    --ios-ios-caption3-font-style: normal;
    --ios-ios-button1-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-button1-font-weight: 700;
    --ios-ios-button1-font-size: 18px;
    --ios-ios-button1-letter-spacing: 0px;
    --ios-ios-button1-line-height: 24px;
    --ios-ios-button1-font-style: normal;
    --ios-ios-button2-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-ios-button2-font-weight: 700;
    --ios-ios-button2-font-size: 14px;
    --ios-ios-button2-letter-spacing: 0px;
    --ios-ios-button2-line-height: 20px;
    --ios-ios-button2-font-style: normal;
    --ios-ios-rate-font-family: "AppleSD Gothic Neo-Medium", Helvetica;
    --ios-ios-rate-font-weight: 500;
    --ios-ios-rate-font-size: 36px;
    --ios-ios-rate-letter-spacing: 0px;
    --ios-ios-rate-line-height: normal;
    --ios-ios-rate-font-style: normal;
    --ios-widget1-font-family: "AppleSD Gothic Neo-Medium", Helvetica;
    --ios-widget1-font-weight: 500;
    --ios-widget1-font-size: 8px;
    --ios-widget1-letter-spacing: 0px;
    --ios-widget1-line-height: 12px;
    --ios-widget1-font-style: normal;
    --ios-widget2-font-family: "AppleSD Gothic Neo-Bold", Helvetica;
    --ios-widget2-font-weight: 700;
    --ios-widget2-font-size: 10px;
    --ios-widget2-letter-spacing: 0px;
    --ios-widget2-line-height: 18px;
    --ios-widget2-font-style: normal;
    --android-android-h1-font-family: "NotoSans KR-Bold", Helvetica;
    --android-android-h1-font-weight: 700;
    --android-android-h1-font-size: 20px;
    --android-android-h1-letter-spacing: 0px;
    --android-android-h1-line-height: 26px;
    --android-android-h1-font-style: normal;
    --android-android-h2-font-family: "NotoSans KR-Medium", Helvetica;
    --android-android-h2-font-weight: 500;
    --android-android-h2-font-size: 18px;
    --android-android-h2-letter-spacing: 0px;
    --android-android-h2-line-height: 24px;
    --android-android-h2-font-style: normal;
    --android-android-subtitle1-font-family: "NotoSans KR-Bold", Helvetica;
    --android-android-subtitle1-font-weight: 700;
    --android-android-subtitle1-font-size: 16px;
    --android-android-subtitle1-letter-spacing: 0px;
    --android-android-subtitle1-line-height: 24px;
    --android-android-subtitle1-font-style: normal;
    --android-android-subtitle2-font-family: "NotoSans KR-Medium", Helvetica;
    --android-android-subtitle2-font-weight: 500;
    --android-android-subtitle2-font-size: 16px;
    --android-android-subtitle2-letter-spacing: 0px;
    --android-android-subtitle2-line-height: 24px;
    --android-android-subtitle2-font-style: normal;
    --android-android-body1-font-family: "NotoSans KR-Regular", Helvetica;
    --android-android-body1-font-weight: 400;
    --android-android-body1-font-size: 16px;
    --android-android-body1-letter-spacing: 0px;
    --android-android-body1-line-height: 24px;
    --android-android-body1-font-style: normal;
    --android-android-body2-font-family: "NotoSans KR-Bold", Helvetica;
    --android-android-body2-font-weight: 700;
    --android-android-body2-font-size: 14px;
    --android-android-body2-letter-spacing: 0px;
    --android-android-body2-line-height: 20px;
    --android-android-body2-font-style: normal;
    --android-android-body3-font-family: "NotoSans KR-Regular", Helvetica;
    --android-android-body3-font-weight: 400;
    --android-android-body3-font-size: 14px;
    --android-android-body3-letter-spacing: 0px;
    --android-android-body3-line-height: 20px;
    --android-android-body3-font-style: normal;
    --android-android-caption1-font-family: "NotoSans KR-Bold", Helvetica;
    --android-android-caption1-font-weight: 700;
    --android-android-caption1-font-size: 12px;
    --android-android-caption1-letter-spacing: 0px;
    --android-android-caption1-line-height: 18px;
    --android-android-caption1-font-style: normal;
    --android-android-caption2-font-family: "NotoSans KR-Regular", Helvetica;
    --android-android-caption2-font-weight: 400;
    --android-android-caption2-font-size: 12px;
    --android-android-caption2-letter-spacing: 0px;
    --android-android-caption2-line-height: 18px;
    --android-android-caption2-font-style: normal;
    --android-android-caption3-font-family: "NotoSans KR-Regular", Helvetica;
    --android-android-caption3-font-weight: 400;
    --android-android-caption3-font-size: 10px;
    --android-android-caption3-letter-spacing: 0px;
    --android-android-caption3-line-height: 12px;
    --android-android-caption3-font-style: normal;
    --android-android-button1-font-family: "NotoSans KR-Medium", Helvetica;
    --android-android-button1-font-weight: 500;
    --android-android-button1-font-size: 18px;
    --android-android-button1-letter-spacing: 0px;
    --android-android-button1-line-height: 24px;
    --android-android-button1-font-style: normal;
    --android-android-button2-font-family: "NotoSans KR-Medium", Helvetica;
    --android-android-button2-font-weight: 500;
    --android-android-button2-font-size: 14px;
    --android-android-button2-letter-spacing: 0px;
    --android-android-button2-line-height: 20px;
    --android-android-button2-font-style: normal;
    --android-android-rate-font-family: "NotoSans KR-Medium", Helvetica;
    --android-android-rate-font-weight: 500;
    --android-android-rate-font-size: 36px;
    --android-android-rate-letter-spacing: 0px;
    --android-android-rate-line-height: normal;
    --android-android-rate-font-style: normal;
}
